<mainheader-component></mainheader-component>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><i class="fas fa-user-tag"></i> Borrar usuario {{ajaxData.id}}</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-10 col-lg-8 form-group text-center mx-auto table-responsive" ng-show="botones">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <td class="align-middle">{{ajaxData.id}}</td>
                </tr>
                <tr>
                    <th>Dni</th>
                    <td class="align-middle">{{ajaxData.dni}}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td class="align-middle">{{ajaxData.nombre}}</td>
                </tr>
                <tr>
                    <th>Primer apellido</th>
                    <td class="align-middle">{{ajaxData.apellido1}}</td>
                </tr>
                <tr>
                    <th>Segundo apellido</th>
                    <td class="align-middle">{{ajaxData.apellido2}}</td>
                </tr>
                <tr>
                    <th>Fecha de alta</th>
                    <td class="align-middle">{{fecha}}</td>
                </tr>
                <tr>
                    <th>Tipo de usuario</th>
                    <td class="align-middle"><a class="enlace" href="tipousuario/view/{{ajaxData.obj_tipousuario.id}}">{{ajaxData.obj_tipousuario.descripcion}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="text-center mt-3 mb-5" ng-show="botones">
        <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="borrar()">Borrar</button>
        <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
    </div>

    <div class="col-10 col-lg-8 mx-auto mt-4 text-center alert alert-success" role="alert" ng-show="alerta">
        Tipo de registro borrado correctamente
        <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
    </div>
</div>