<mainheader-component></mainheader-component>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><i class="fas fa-user-tag"></i> Crear producto</h1>
        </div>
    </div>
    <div class="row mt-5">
        <ng-form name="form" ng-show="formulario" class="col-10 col-md-6 col-lg-5 col-xl-4 mx-auto">
            <div class="form-group">
                <div class="row">
                    <div class="mx-auto pb-5">
                        <img id="output" ng-src="http://localhost:8081/imagenesbarberia/Default.png" style="width: 128px; height: 128px;">
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto pb-5">
                        <!--ARREGLO EN UNA LINEA DE PREVIEW DE NUEVA FOTO-->
                        <input type="file" file-model="myFile" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" ng-model="foto">
                    </div>
                </div>
            </div>
            <div class="mt-4 form-group" ng-class="{'has-error': form.nombre.$invalid}">
                <label>Nombre:</label>
                <input type="text" name="nombre" class="form-control" ng-model="nombre" ng-maxlength="50" ng-pattern="/^(.+)$/" required>
                <p ng-show="form.nombre.$invalid && !form.nombre.$pristine" class="help-block red-text">
                    Campo obligatorio.
                </p>
            </div>
            <div class="mt-4 form-group" ng-class="{'has-error': form.descripcion.$invalid}">
                <label>Descripción:</label>
                <input type="text" name="descripcion" class="form-control" ng-model="descripcion" ng-maxlength="50" ng-pattern="/^(.+)$/" required>
                <p ng-show="form.descripcion.$invalid && !form.descripcion.$pristine" class="help-block red-text">
                    Campo obligatorio.
                </p>
            </div>
            <div class="mt-4 form-group" ng-class="{'has-error': form.precio.$invalid}">
                <label>Precio:</label>
                <input type="text" name="precio" class="form-control" ng-model="precio" ng-pattern="/^[0-9]+(,[0-9]?[1-9])?$/" required>
                <p ng-show="form.precio.$invalid && !form.precio.$pristine" class="help-block red-text">
                    Formato de precio inválido.
                </p>
            </div>
            <div class="mt-4 form-group" ng-class="{'has-error': form.existencias.$invalid}">
                <label>Existencias:</label>
                <input type="text" name="existencias" class="form-control" ng-model="existencias" ng-pattern="/^[0-9]+$/" required>
                <p ng-show="form.existencias.$invalid && !form.existencias.$pristine" class="help-block red-text">
                    Formato de existencias inválido.
                </p>
            </div>
            <div class="mt-4 form-group" ng-class="{'has-error': form.iva.$invalid}">
                <label>Iva:</label>
                <input type="text" name="iva" class="form-control" ng-model="iva" ng-pattern="/^[1-9][0-9]?$/" required>
                <p ng-show="form.iva.$invalid && !form.iva.$pristine" class="help-block red-text">
                    Formato de existencias inválido.
                </p>
            </div>
            <div class="mt-4 form-group">
                <label>Tipo de producto:</label>
                <select class="form-control" ng-model="tipoproducto">
                    <option ng-value="{{opcion.id}}" ng-repeat="opcion in ajaxDataTipoProducto">{{opcion.descripcion}}</option>
                </select>
            </div>
            <div class="text-center mt-3" ng-show="botones">
                <button type="button" class="btn btn-primary mt-2 mx-2" ng-disabled="form.$invalid" ng-click="crear()">Crear</button>
                <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
            </div>
        </ng-form>
        <div class="col-10 col-lg-8 mx-auto mt-4 text-center alert alert-success" role="alert" ng-show="correcto">
            Tipo de usuario creado correctamente
            <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
        </div>
        <div class="col-10 col-lg-8 mx-auto mt-4 text-center alert alert-danger" role="alert" ng-show="fallo">
            Fallo al crear tipo de producto
            <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
        </div>
    </div>
</div>  
