<mainheader-component></mainheader-component>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><i class="fas fa-user-tag"></i> Borrar producto {{ajaxData.id}}</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="text-center">
                <img style="width: 128px; height: 128px;" ng-src="http://localhost:8081/imagenesbarberia/{{ajaxData.foto}}" alt="foto_producto.png">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-10 col-lg-8 text-center mx-auto table-responsive" ng-show="botones">
            <table class="table table-striped text-center">
                <tr>
                    <th class="align-middle">ID</th>
                    <td class="align-middle">{{ajaxData.id}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Nombre</th>
                    <td class="align-middle">{{ajaxData.nombre}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Descripción</th>
                    <td class="align-middle">{{ajaxData.descripcion}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Precio</th>
                    <td class="align-middle">{{ajaxData.precio}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Existencias</th>
                    <td class="align-middle">{{ajaxData.existencias}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Iva</th>
                    <td class="align-middle">{{ajaxData.iva}}</td>
                </tr>
                <tr>
                    <th class="align-middle">Tipo de producto</th>
                    <td class="align-middle"><a class="enlace" href="tipoproducto/view/{{ajaxData.obj_tipoproducto.id}}">{{ajaxData.obj_tipoproducto.descripcion}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text-center mt-3 mb-5" ng-show="botones">
        <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="borrar()">Borrar</button>
        <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
    </div>

    <div class="col-10 col-lg-8 mx-auto mt-4 text-center alert alert-success" role="alert" ng-show="alerta">
        Tipo de producto borrado correctamente
        <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
    </div>
</div>