<mainheader-component></mainheader-component>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Compra de productos</h1>
        </div>
    </div>
    <div class="card mx-auto mt-5 col-12 col-sm-10 col-xl-8" ng-repeat="producto in productos">
        <div class="row">
            <div class="my-4 my-md-2 col-md-4 text-center d-flex align-items-center justify-content-center">
                <img ng-src="/imagenesbarberia/{{producto.producto.foto}}" class="imagen" alt="foto_producto.png">
            </div>
            <div class="col-md-8 px-3">
                <div class="card-block px-3 w-100 h-100 d-flex flex-wrap">
                    <div class="row mx-auto w-100 align-self-start mt-md-4">
                        <div class="col-6 my-auto text-left">
                            <p class="card-title fuente-titulo">{{producto.producto.nombre}}</p>
                        </div>
                        <div class="col-6 my-auto text-right">
                            <p class="card-title fuente-titulo">{{producto.producto.precio}} &#8364;</p>
                        </div>
                    </div>
                    <div class="row mx-auto w-100 align-self-start mb-3">
                        <div class="col-12 text-justify">
                            <p class="card-text fuente-parrafo">{{producto.producto.descripcion}}</p>
                        </div>
                    </div>
                    <div class="row mx-auto w-100 align-self-end">
                        <div class="col-5 col-md-6 my-auto text-right">
                            <p class="card-text fuente-parrafo">{{producto.producto.existencias}} u. restantes</p>
                        </div>
                        <div class="col-7 col-md-6 my-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary" ng-click="substract(producto)"><i class="fas fa-minus"></i></button>
                                </div>
                                <input type="text" class="form-control text-right" ng-model="producto.cantidad" disabled>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" ng-click="add(producto)"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto w-100 align-self-end">
                        <div class="col-5 col-md-6"></div>
                        <div class="col-7 col-md-6">
                            <p class="red-text fuente-error text-center" ng-show="producto.producto.existencias !== 0 || producto.cantidad !== 0" ng-class="{'invisible': (producto.producto.existencias > 0 && producto.cantidad >= 0)}">Máximo de productos</p>
                            <p class="red-text fuente-error text-center" ng-show="producto.producto.existencias === 0 && producto.cantidad === 0">No hay existencias de este producto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" ng-click="comprar($event)">Comprar</button>
        </div>
        <div class="col-12 text-center mt-3" ng-show="alertaproductos">
            <span>No has seleccionado ningún producto</span>
        </div>
    </div>
</div>