<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="home">Barbería66</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" ng-show="c.logged">
            <li class="nav-item" ng-class="{'active': c.isActive('/operaciones')}">
                <a class="nav-link" href="operaciones"><i class="fas fa-clipboard-list"></i> Operaciones</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" ng-show="!c.logged">
                <div class="nav-link dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Login</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form name="form" ng-submit="login()" class="px-3 py-2">
                            <div class="form-group" ng-class="{'has-error': form.username.$invalid}">
                                <label>Usuario:</label>
                                <input type="text" name="username" placeholder="Usuario" class="form-control" ng-model="username" ng-pattern="/^[a-zA-Z0-9]+$/" required>
                                <p ng-show="form.username.$invalid && !form.username.$pristine" class="help-block red-text mt-1">
                                    Nombre de usuario invalido.
                                </p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': form.pass.$invalid}">
                                <label>Contraseña:</label>
                                <input type="password" name="pass" placeholder="Contraseña" class="form-control" ng-model="pass" ng-pattern="/^[a-zA-Z0-9]+$/" required>
                                <p ng-show="form.pass.$invalid && !form.pass.$pristine" class="help-block red-text mt-1">
                                    Contraseña invalida.
                                </p>
                            </div>
                            <div class="text-center alert alert-danger" role="alert" ng-show="incorrecto">
                                Datos incorrectos
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-2 mx-2" ng-disabled="form.$invalid">Iniciar Sesion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="nav-item" ng-show="c.logged" ng-class="{'active': (c.isActive('/profile'))}">
                <div class="nav-link dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{c.nameUserLogged}}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" ng-click="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>