html{
    min-height: 100%;
}

body{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #df5646;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 50px;
}

.margin-top{
    margin-top: 100px;
}

.pointer{
    cursor: pointer;
}

.dropdown-menu{
    width: 300px !important;
}

/* HEADER */
.border-navbar{
    background-image: repeating-linear-gradient(135deg, #fff, #fff 20px, #df5646 20px, #df5646 40px, #fff 40px, #fff 60px, #1c78a4 60px, #1c78a4 80px);
}

.navbar{
    background-color: #1c78a4 !important;
}


/* OPERACION */
.operacion{
    background-image: repeating-linear-gradient(90deg, #df5646 0px, #df5646 20px, #fff 20px, #fff 40px, #1c78a4 40px, #1c78a4 60px, #fff 60px, #fff 80px);
    padding: 10px;
    width: 300px;
}

.operacion > div{
    background: #ffffff;
    padding: 20px;
}

.operacion:focus{
    outline: none;
}

.icono-operacion{
    width: 75px;
    height: 75px;
}

/* TARJETAS */
.card{
    border-radius: 0em !important;
}

.input-group-prepend button{
    border-radius: 0px !important;
}

.input-group-append button{
    border-radius: 0px !important;
}

.form-control:disabled{
    color: black !important;
    background-color: white !important;
    border: 1px solid #007bff;
}

.red-text{
    color: red;
}

.fuente-titulo{
    font-size: 6vw;
}

.fuente-parrafo{
    font-size: 3.5vw;
}

.fuente-error{
    font-size: 3.5vw;
}

.imagen{
    width: 75%;
}

@media (min-width: 576px) {
    .fuente-titulo{
        font-size: 4vw;
    }
    .fuente-parrafo{
        font-size: 2.25vw;
    }
    .fuente-error{
        font-size: 2vw;
    }
    .imagen{
        width: 75%;
    }
    .operacion{
        width: 500px;
    }
}

@media (min-width: 768px) {
    .fuente-titulo{
        font-size: 3.25vw;
    }
    .fuente-parrafo{
        font-size: 1.75vw;
    }
    .fuente-error{
        font-size: 1.5vw;
    }
    .operacion{
        width: 500px;
    }
}

@media (min-width: 992px) {
    .fuente-titulo{
        font-size: 3vw;
    }
    .fuente-parrafo{
        font-size: 1.5vw;
    }
    .fuente-error{
        font-size: 1.25vw;
    }
    .imagen{
        width: 50%;
    }
    .operacion{
        width: 660px;
    }
}

@media (min-width: 1200px) {
    .fuente-titulo{
        font-size: 2vw;
    }
    .fuente-parrafo{
        font-size: 1vw;
    }
    .fuente-error{
        font-size: 1vw;
    }
    .operacion{
        width: 900px;
    }
}

@media (min-width: 1500px) {
    .fuente-titulo{
        font-size: 1.5vw;
    }
    .fuente-parrafo{
        font-size: 0.75vw;
    }
    .fuente-error{
        font-size: 0.75vw;
    }
    .operacion{
        width: 900px;
    }
}