<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>barberia66</servlet-name>
        <display-name>barberia66</display-name>
  	<description></description>
        <servlet-class>net.barberia66Server.control.Barberia66</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>barberia66</servlet-name>
        <url-pattern>/barberia66</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/rewrite-404.jsp</location>      
    </error-page>
</web-app>
